:root {
   --primario: #123;
   --fondoPantalla: #B2BABB;
   --colorBoton: #147;
   --alternativoBoton: #009933;
   --colorResaltador: #00CC33;
   --colorTexto: #abd;
   --blanco: #fff;

   --fuenteTexto: 'Exo 2', sans-serif;

}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
   box-sizing: border-box;
   font-size: 62.5%; /* =10px */
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
   font-size: 1.6rem; /* =16px */
   background-color: var(--fondoPantalla);
   font-family: var(--fuenteTexto);
   line-height: 1.6;
}

h1 {
   font-size: 3rem;
   text-transform: uppercase;
   color: var(--blanco);
   text-align: center;
}

h1 span {
   font-size: 2.5rem;
   color:rgb(41, 102, 162);
}

p {
   color: var(--colorTexto);
   text-align: center;
}

.contenedor {
   background-color: var(--primario);
   max-width: 80rem;
   height: auto;
   padding: 2.5rem;
   border-radius: 1.5rem;
   box-shadow: 0px 3px 12px 5px rgba(0,0,0,0.75);

   /* Centramos el contenedor en la pantalla */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.contenedor_componentes {
   display: flex;
   flex-direction: column;
}

#texto-tipeado {
   margin: 0 auto;
   margin-bottom: 2rem;
   width: 70%;
   padding: .6rem;
   font-size: 1.7rem;
   background-color: #abd;
   border-style: none;
   border-radius: .5rem;
   display: none;
}

.highlight {
    background-color: yellow;
    color: black;
 }

 .error {
    background-color: lightcoral !important;
    border-color: red !important;
 }

#inicio {
   transition: all 300ms;
}

#inicio:hover {
   transform: scale(1.15);
}

#inicio,
#nuevo,
#salir {
   margin: 0 auto;
   width: 15rem;
   height: 4rem;
   text-transform: uppercase;
   background-color: var(--colorBoton);
   border-style: none;
   border-radius: 1.5rem;
   color: var(--blanco);
   font-family: var(--fuenteTexto);
   font-size: 1.8rem;
   font-weight: bold;
   cursor: pointer;
}

#btn-secundarios {
   display: none;
   justify-content: space-between;
}

#inicio:hover,
#nuevo:hover,
#salir:hover {
   background-color: var(--alternativoBoton);
}

 /* UTILIDADES */
 .no-margin {
   margin: 0;
 }

 .no-padding {
   padding: 0;
 }
